html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fim do reset*/

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

main{
    font-family: 'Heebo', sans-serif;
	background-color: #DEDEDE;
}

header{
    display: flex;
    background-color: black;
    align-items: center;
	color: azure;
	justify-content: center;
	font-family: 'Heebo', sans-serif;
	font-size: 30px;
	padding: 20px;
	text-align: center;
}

header img{
	width: 120px;
	padding-right: 50px;
}

h2{
	font-size: 30px;
	padding:30px 20px 0px 20px;
	text-align: center;
	color: #434343;
}

h3{
	font-size: 22px;
	padding:10px 20px 0px 20px;
	text-align: center;
	color: #434343;
}

section{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
}

article{
	background-color: white;
	color: #434343;;
	margin:30px 15px 30px 15px;
	width: 300px;
	text-align: center;
	border-radius: 20px;
	padding: 30px;
	box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

h4{
	font-size: 24px;
	font-weight: bold;
	color: black;
	
	
}

p{
	padding-top: 14px;
	font-size: 17px;
	line-height: 22px;
}

nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}

a {
	padding: 10px;
	margin: 10px;
    background-color:#585858;
    color: white;
    border-radius: 1vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
	box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);

}


aside a{
	background-color: rgb(255, 0, 90);
	display: flex;
	position:fixed;
    bottom: 0px;
    right: 0px;
	text-align: center;
	width: 85px;
	font-size: 24px;
	margin: 15px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);

	
}

footer{
    display: flex;
    background-color: black;
    align-items: center;
	color: azure;
	justify-content: center;
	font-family: 'Heebo', sans-serif;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}



footer div img{
    width: 120px;
	padding-right: 4vw;
}

footer div p {
	padding: 0px;
}

a:hover{
    background-color: rgb(73, 15, 146);
}
