html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fim do reset*/

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

main{
    font-family: 'Heebo', sans-serif;
}

header{
    display: grid;
    width: 100vw;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10vw 1fr;
    grid-template-areas: ". Menu-nav Menu-nav Menu-nav"
                        "Meu-nome Meu-nome Foto-header Foto-header" ;
    background-color: black;
    align-items: center;
    justify-items: center;

}

.Menu-nav{
    display: flex;
    grid-area: Menu-nav;
    align-items: center;
    justify-content: center;
}

.Meu-nome{
    grid-area: Meu-nome;
    color: white;
    font-size: 4.5vw;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    line-height: 5vw;
    padding-left: 5vw;
    padding-top: 6vw;
}

.Meu-nome p:nth-child(2){
    font-size: 3vw;
}
.Foto-header{
    grid-area: Foto-header;
    padding-right: 7vw;
    padding-bottom: 4vw;
}

header nav{
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 2vw;
    font-family: 'Rubik', sans-serif;
    
}
header nav a{
    padding: 0vw 1.1vw 0vw 1.1vw;
    text-decoration: none;
    color: white;
}

header nav a:hover{
    text-decoration: yellow overline;
    line-height: 20px;
    padding-top: 2vw;
    font-size: 2.5vw;    
}

.Foto-header img{
    width: 24vw;
    border-radius: 50%;
    
}

.Logo1{
    display: flex;
    position: absolute;
    top: 3.5vw;
    left: 9vw;
    width: 15vw;
    height: 15vw;
}

.Linked-in{
    display: flex;
    position: absolute;
    top: 10vw;
    right: 7vw;
    width: 6vw;
    height: 6vw;
}

.Linked-in>img:hover, .Git-hub>img:hover, .Stack-overflow>img:hover{
    border-right: 1vw solid yellow;
    padding-right: 2vw;
}

.Linked-in:hover, .Git-hub:hover, .Stack-overflow:hover{
    width: 7vw;
    height: 7vw;
}

.Git-hub{
    display: flex;
    position: absolute;
    top: 19vw;
    right: 5vw;
    width: 6vw;
    height: 6vw;    
}

.Stack-overflow{
    display: flex;
    position: absolute;
    top: 28vw;
    right: 7vw;
    width: 6vw;
    height: 6vw;    
}

#Bio{
    display: flex;
    flex-direction: row;
    padding: 5vw 3vw 5vw 3vw;
    align-items: center;
    justify-items: center;
    
}

.Imagem-Bio img{
    width: 50vw;
    align-self: center;
    justify-self: center;    
}
.Texto-Bio p:first-child{
    font-size: 7vw;
    font-weight: bold;
}
.Texto-Bio{
    flex-direction: column;
    font-size: 2.1vw;
    padding: 3vw;
}

.Texto-Bio p{
    padding: 0px 0px 20px 1vw;
    font-family: 'Heebo', sans-serif;
}

.Texto-Bio p img{
    height: 1.5vw;
}

#Formação{
    display: flex;
    flex-direction: column;
    background-color: #DEDEDE;
    color: #434343;
    padding: 5vw 0vw 0vw 4vw;
    align-content: center;
    align-items: center;
    
}

#Formação h2{
    font-size: 4vw;
    font-weight: bold;
    padding-bottom: 4vw;
}

#Formação div{
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0px 0px 6vw 0px;
    
}

#Formação div div{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-self: flex-start;
    padding: 0px;
    

    
}

.Texto-Formação{
    font-size: 2.2vw;
    text-align: left;
    padding: 0px;
    justify-content: left;
    justify-items: left;
    line-height: 3vw;
}
.Texto-Formação p:nth-child(2){
    font-weight: bold;
}

.Logo-universidade1{
    width: 9vw;
    position: relative;
    left: -10vw;
}

.Logo-universidade2{
    width: 12vw;
    position: relative;
    left: -16vw;
}

#Experiência{
    background-color: #434343;
    color: #999999;
    display: flex;
    flex-direction: column;
    padding: 5vw 0vw 4vw 0vw;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#Experiência h2{
    font-size: 4vw;
    font-weight: bold;
    padding-bottom: 4vw;
}

.Logo-Aquario{
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
}

.Logo-DCT{
    width: 7vw;
    height: 7vw;
}

.Logo-PUC{
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
}

#Experiência div div{
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
}

#Experiência div div div{
    display: flex;
    flex-direction: column;
    padding-bottom: 4vw;
    font-size: 2.4vw;
    line-height: 2.4vw;
}

.Texto-Experiência p:first-of-type{
    font-size: 1.4vw;
}

.Texto-Experiência p:nth-child(2){
    font-weight: bold;
}

.Texto-Experiência p:nth-child(3){
    font-size: 1.6vw;
}

#Projetos{
    background-color: #DEDEDE;
    color: #434343;
    display: flex;
    flex-direction: column;
    padding: 0vw 4vw 2vw 4vw;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#Projetos h2{
    font-size: 4vw;
    font-weight: bold;
    padding-bottom: 4vw;   
    padding-top: 4vw;
}


#Projetos div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 30%;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
}

#Projetos div div{
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

h4{
    font-size: 1.2vw;
    text-align: center;
}

.Cartão-Projeto{
    flex-basis: 33vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    margin-bottom: 4vw;
    align-self: flex-start;
    background-color: white;
    border-radius: 4vw;
}
.Cartão-Projeto h4{
    padding-top: 0.5vw;
}
.Cartão-Projeto img{
    padding-top: 1vw;
    width: 20vw;
}
.Cartão-Projeto video{
    padding-top: 1vw;
    width: 20vw;
}

.Cartão-Projeto p{
    padding-top: 1.5vw;
    padding-bottom: 2.5vw;
    width: 20vw;
    font-size: 1.4vw;
}
.Cartão-Projeto p:nth-child(2){
    padding: 0vw;
}
.Cartão-Projeto nav a{
    padding: 0.8vw;
    margin-right: 1vw;
    background-color:#585858;
    color: white;
    border-radius: 1vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
}
    /*Cartões para Projetos antigos*/

    .Cartão-Projeto2{
        flex-basis: 33vw;
        padding-top: 2vw;
        padding-bottom: 4vw;
        margin-bottom: 4vw;
        align-self: flex-start;
        background-color: white;
        border-radius: 4vw;
    }
    .Cartão-Projeto2 h4{
        padding-top: 0.5vw;
    }
    .Cartão-Projeto2 img{
        padding-top: 1vw;
        width: 20vw;
    }
    .Cartão-Projeto2 video{
        padding-top: 1vw;
        width: 20vw;
    }
    
    .Cartão-Projeto2 p{
        padding-top: 2vw;
        padding-bottom: 0vw;
        width: 20vw;
        font-size: 1.4vw;
    }
    
    .Cartão-Projeto2 nav{
        padding-top: 3vw;
    }
    .Cartão-Projeto2 nav a{
        padding: 0.8vw;
        margin-right: 1vw;
        background-color:#585858;
        color: white;
        border-radius: 1vw;
        text-decoration: none;
        font-weight: bold;
        font-size: 1vw;
}

#Fala-comigo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "Contato1 Contato2";
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.Contato1{
    grid-area: Contato1;
    padding-bottom: 2vw;
}

.Contato1 h2{
    display:flex;
    font-size:4vw;
    font-weight: bold;
    padding-top: 5vw;
}

.Contato1 p{
    font-size: 2vw;
    width: 30vw;
    padding-top: 2vw;
}

.Contato1 nav{
    padding: 2vw 0vw 2vw 1vw;
}

.Contato1 nav a{
    padding: 0vw 1vw 0vw 1vw;
   
}
.Contato1 nav a img{
    width: 5vw;
    height: 5vw;
}

.Contato1 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-top: 1vw;
    padding-bottom: 2.5vw;
    
}
.Contato1 div img{
    width: 2vw;
    height: 2vw;
}

.Contato1 nav a:hover{
    height: 6vw;
    width: 6vw;
    background-color: #999999;
    border-radius: 3vw;

}
.Contato1 div p{
    padding: 0vw 0vw 0vw 1.5vw;
    font-size: 2vw;
}
.Contato1 div a{
    align-self: center;
    justify-self: center;
    padding: 0vw 0vw 0vw 1.5vw;
    font-size: 2vw;
}

.Contato2{
    grid-area: Contato2;
    padding: 5vw 0vw 4vw 0vw;
    font-size: 1.8vw;
    width: 30vw;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    padding-bottom: 2vw;
}

input, textarea{
    font-size: 1.8vw;
    width: 32vw;
    margin-top: 0.25vw;
}

textarea{
    resize:none;
    height: 16vw;
}


button{ 
    width: 32vw;
    justify-self: center;
    padding: 1vw 0vw 1vw 0vw;
    font-size: 2vw;
    font-weight: bold;
}


footer{
    display: flex;
    display: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 8vw;
    font-size: 1.8vw;
}

footer div:first-child{
    padding-right: 5vw;
}

footer div img{
    width: 5vw;
    height: 5vw;
}

/*Novas modificações*/

#Software_Engenharia img, #Software_Desenvolvedor_Web img{
    width: 12vw;
    height: 12vw;
    margin: 3vw;
}

#Software_Engenharia, #Software_Desenvolvedor_Web{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#Software div{
    padding: 3vw 0vw 3vw 0vw;
}

#Software h2{
    font-size: 4vw;
    font-weight: bold;
    padding-top: 3vw;
    text-align: center;
    color: #434343;
}

/*Estilos novos para formularios*/

.contact-form-response {
    font-size: 2.2vw;
    text-align: center;
    font-weight: bold;
}

.contact-form {
    --form-ok-color: #4caf50; /*Definindo subclasses*/
    --form-error-color: #f44336;

}

/*Agora essas subclasses vou usar assim, para quando o campo esteja bem ou mal preenchido*/
.contact-form [required]:valid{
    border:thin solid var(--form-ok-color)
}

.contact-form [required]:invalid{
    border:thin solid var(--form-error-color)
}

/*Mensagens de erro na validação*/
.contact-form-error{
    
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 32vw;
    line-height: 2.6vw;
}
.contact-form-error.is-active{
    display: flex;
    animation: show-message 1s 1 normal 0s ease-out both;
}
.none{
    display: none;
}
@keyframes show-message {
    0%{
        visibility: hidden;
        opacity: 0;
    }

    100%{
        visibility: visible;
        opacity: 100%;
    }
}

/*Preloader*/
.contact-form-loader, .contact-form-response{
    display: flex;
    padding-left: 3vw;
    justify-content: center;
    font-size: 5vw;
    line-height: 15vw;
}

/*Seção para o link dos outros repositorios*/
#Repositorios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #585858;
    padding: 2.6vw;
}

#Repositorios h2 {
    font-size: 2vw;
    color:#DEDEDE;
    flex-wrap: wrap;
}

#Repositorios button{
    background-color:#DEDEDE ;
    border-radius: 3vw;
    margin: 2vw;
    padding: 1.5vw;
}

#Repositorios button a{
    font-size: 2vw;
    color:#585858;
    text-decoration-line: none;
}

#Repositorios img {
    width: 12vw;
}

#Seta_Mobile{
    display: none;
}


/*VERSÃO MOBILE:*/

@media (max-width: 412px){
    
    header{
        display: grid;
        width: 100vw;
        height: 57vw;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10vw 1fr;
        grid-template-areas: "Menu-nav Menu-nav Menu-nav Menu-nav"
                            "Meu-nome Meu-nome Foto-header Foto-header" ;
        background-color: black;
        align-items: center;
        justify-items: center;
    
    }
    
    .Menu-nav{
        display: flex;
        grid-area: Menu-nav;
        align-items: center;
        
    }
    
    .Meu-nome{
        grid-area: Meu-nome;
        color: white;
        font-size: 4.5vw;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        line-height: 5vw;
        padding-left: 5vw;
        padding-top: 18vw;
    }
    
    .Meu-nome p:nth-child(2){
        font-size: 3.4vw;
        padding-top: 1vw;
    }
    .Foto-header{
        grid-area: Foto-header;
        padding-right: 7vw;
        padding-bottom: 6vw;
        padding-top: 4vw;
    }
    
    header nav{
        display: inline-flex;
        flex-wrap: nowrap;
        font-size: 2.9vw;
        font-family: 'Rubik', sans-serif;
        padding-left: 2vw;
        
    }
    header nav a{
        padding: 0vw 1vw 0vw 1vw;
        text-decoration: none;
        color: white;
    }
    
    header nav a:hover{
        text-decoration: yellow overline;
        line-height: 40px;
        padding-top: 2vw;
        font-size: 3.5vw;    
    }
    
    .Foto-header img{
        width: 35vw;
        border-radius: 50%;
        
    }
    
    .Logo1{
        display: flex;
        position: absolute;
        top: 12vw;
        left: 16vw;
        width: 21vw;
        height: 21vw;
    }
    
    
    
    .Linked-in>img:hover, .Git-hub>img:hover, .Stack-overflow>img:hover{
        border-right: none;
        padding-right: none;
    }
    
    .Linked-in:hover, .Git-hub:hover, .Stack-overflow:hover{
        width: 10vw;
        height: 10vw;
    }
    
    .Linked-in{
        display: flex;
        position: absolute;
        top: 10vw;
        right: 8vw;
        width: 12vw;
        height: 12vw;
    }
    
    .Git-hub{
        display: flex;
        position: absolute;
        top: 26vw;
        right: 3vw;
        width: 12vw;
        height: 12vw;    
    }
    
    .Stack-overflow{
        display: flex;
        position: absolute;
        top: 42vw;
        right: 8vw;
        width: 12vw;
        height: 12vw;    
    }




    #Bio{
        display: flex;
        flex-direction: column-reverse;
        padding: 5vw 3vw 4vw 3vw;
        align-items: center;
        justify-items: center;
        
    }
    
    .Imagem-Bio img{
        width: 80vw;
        align-self: center;
        justify-self: center;    
    }
    .Texto-Bio p:first-child{
        font-size: 7vw;
        font-weight: bold;
        padding-bottom: 3vw;
    }
    .Texto-Bio{
        flex-direction: column;
        font-size: 3.5vw;
        padding: 3vw;
    }
    
    .Texto-Bio p{
        padding: 0vw 0vw 3vw 0vw;
        font-family: 'Heebo', sans-serif;
    }
    
    .Texto-Bio p img{
        height: 3vw;
    }


    #Formação{
        display: flex;
        flex-direction: column;
        background-color: #DEDEDE;
        color: #434343;
        padding: 5vw 0vw 0vw 4vw;
        align-content: center;
        align-items: center;
        
    }
    
    #Formação h2{
        font-size: 6vw;
        font-weight: bold;
        padding-bottom: 4vw;
    }
    
    #Formação div{
        display:flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        padding: 0px 0px 6vw 0px;
        
    }
    
    #Formação div div{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-self: flex-start;
        padding: 0px;   
    }
    
    .Texto-Formação{
        font-size: 3vw;
        text-align: left;
        padding: 0px;
        justify-content: left;
        justify-items: left;
        line-height: 4vw;
    }
    .Texto-Formação p:nth-child(2){
        font-weight: bold;
    }
    
    .Logo-universidade1{
        width: 12vw;
        position: relative;
        left: -5vw;
    }
    
    .Logo-universidade2{
        width: 16vw;
        position: relative;
        left: -14vw;
    }


    #Experiência{
        background-color: #434343;
        color: #999999;
        display: flex;
        flex-direction: column;
        padding: 5vw 0vw 5vw 0vw;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    
    #Experiência h2{
        font-size: 6vw;
        font-weight: bold;
        padding-bottom: 4vw;
    }
    
    .Logo-Aquario, .Logo-PUC{
        border-radius: 50%;
        width: 12vw;
        height: 12vw;
    }
    
    .Logo-DCT{
        width: 12vw;
        height: 12vw;
    }
    
    #Experiência div div{
        display: flex;
        flex-direction: row;
        padding-left: 3vw;
    }
    
    #Experiência div div div{
        display: flex;
        flex-direction: column;
        padding-bottom: 4vw;
        font-size: 4vw;
        line-height: 4vw;
    }
    
    .Texto-Experiência p:first-of-type{
        font-size: 2.6vw;
    }
    
    .Texto-Experiência p:nth-child(2){
        font-weight: bold;
    }
    
    .Texto-Experiência p:nth-child(3){
        font-size: 2.8vw;
    }


    #Projetos{
        background-color: #DEDEDE;
        color: #434343;
        display: flex;
        flex-direction: column;
        padding: 4vw 4vw 4vw 4vw;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    
    #Projetos h2{
        font-size: 6vw;
        line-height: 7vw;
        text-align: center;
        font-weight: bold;
        padding-bottom: 4vw;   
    }
    
    #Projetos div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 90%;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        
    }
    
    #Projetos div div{
        display: flex;
        flex-direction: column;
    }
    
    h3{
        font-size: 5vw;
        font-weight: bold;
        text-align: center;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 4vw;
    }
    
    h4{
        font-size: 4vw;
        text-align: center;
        padding-top: 6vw;
    }
    
    .Cartão-Projeto{
        padding-top: 2vw;
        padding-bottom: 8vw;
        margin-bottom: 4vw;
        align-self: flex-start;
        background-color: white;
        border-radius: 4vw;
    }
    .Cartão-Projeto h4{
        padding-top: 1vw;
    }
    .Cartão-Projeto img{
        padding-top: 3vw;
        width: 50vw;
    }
    .Cartão-Projeto video{
        padding-top: 6vw;
        width: 70vw;
    }
    
    .Cartão-Projeto p{
        padding-top: 6vw;
        padding-bottom: 8vw;
        width: 60vw;
        font-size: 4vw;
    }
    .Cartão-Projeto p:nth-child(2){
        padding: 0vw;
    }
    .Cartão-Projeto nav a{
        padding: 1.3vw;
        margin-right: 1vw;
        background-color:#585858;
        color: white;
        border-radius: 1vw;
        text-decoration: none;
        font-weight: bold;
        font-size: 3.6vw;    
    }

    /*Cartões Projetos Antigos*/

    .Cartão-Projeto2{
        padding-top: 2vw;
        padding-bottom: 8vw;
        margin-bottom: 4vw;
        align-self: flex-start;
        background-color: white;
        border-radius: 4vw;
    }
    .Cartão-Projeto2 h4{
        padding-top: 1vw;
    }
    .Cartão-Projeto2 img{
        padding-top: 3vw;
        width: 50vw;
    }
    .Cartão-Projeto2 video{
        padding-top: 6vw;
        width: 70vw;
    }
    
    .Cartão-Projeto2 p{
        padding-top: 5vw;
        padding-bottom: 1vw;
        width: 60vw;
        font-size: 4vw;
    }
    .Cartão-Projeto2 p:last-of-type{
        padding-bottom: 4vw;
    }
    .Cartão-Projeto2 nav a{
        padding: 1.3vw;
        margin-right: 1vw;
        background-color:#585858;
        color: white;
        border-radius: 1vw;
        text-decoration: none;
        font-weight: bold;
        font-size: 3.6vw;
        
    }

    #Fala-comigo{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 4vw 8vw 4vw 10vw;
    }


    .Contato1{
        padding: 0vw;
        margin-left: 6vw;
    }
    
    .Contato1 h2{
        display:flex;
        font-size:8vw;
        font-weight: bold;
        padding-top: 5vw;
    }
    
    .Contato1 p{
        font-size: 5vw;
        width: 80vw;
        padding: 6vw 0vw 0vw 0vw;
        margin: 0vw;
    }
    
    .Contato1 nav{
        padding: 2vw 0vw 2vw 1vw;
        justify-self: center;
        align-self: center;
    }
    
    .Contato1 nav a{
        padding: 0vw 1vw 0vw 1vw;
       
    }
    .Contato1 nav a img{
        width: 18vw;
        height: 18vw;
        margin-left: 3vw;
        margin-top: 5vw;
    }

    .Contato1 nav a img:hover{
        width: 16vw;
        height: 16vw;
        margin-left: 3vw;
        margin-top: 5vw;
    }
    
    .Contato1 div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        padding-top: 6vw;
        padding-bottom: 2.5vw;
        
        
    }
    .Contato1 div img{
        width: 10vw;
        height: 10vw;
        margin-left: 2vw;
        
    }
    
    .Contato1 nav a:hover{
        height: 6vw;
        width: 6vw;
        background-color: white;
        border-radius: 3vw;
    
    }
    .Contato1 div p{
        padding: 0vw 0vw 0vw 1.5vw;
        font-size: 5vw;
        
    }
    .Contato1 div a{
        
        padding: 0vw 0vw 0vw 1.5vw;
        font-size: 5vw;
    }
    
    .Contato2{
        
        padding: 5vw 0vw 4vw 0vw;
        font-size: 5vw;
        width: 76vw;
    }
    
    form{
        display: flex;
        flex-direction: column;
    }
    
    label{
        padding-bottom: 2vw;
    }
    
    
    button{ 
        width: 75vw;
        justify-self: center;
        padding: 3vw 0vw 3vw 0vw;
        font-size: 5vw;
    }

    input, textarea{
        font-size: 5vw;
        width: 75vw;
    }
    
    textarea{
        resize:none;
        height: 75vw;
    }

    footer{
        display: flex;
        display: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        height: 15vw;
        font-size: 2.8vw;
    }
    
    footer div:first-child{
        padding-right: 4vw;
    }
    
    footer div img{
        width: 10vw;
        height: 10vw;
    }

    /*Novas modificações*/

    #Software_Engenharia img, #Software_Desenvolvedor_Web img{
        width: 21vw;
        height: 21vw;
        margin: 3vw;
    }

    #Software_Engenharia, #Software_Desenvolvedor_Web{
        display:flex;
        justify-content: space-evenly;
    }

    #Software div{
        padding: 3vw 0vw 3vw 0vw;
    }

    #Software h2{
        font-size: 5.5vw;
        font-weight: bold;
        padding-top: 5.5vw;
        text-align: center;
        color: #434343;
    }

    /*Mensagens de erro na validação*/
.contact-form-error{
    
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75vw;
    line-height: 5vw;
}
.contact-form-error.is-active{
    display: flex;
    animation: show-message 1s 1 normal 0s ease-out both;
}
.none{
    display: none;
}
@keyframes show-message {
    0%{
        visibility: hidden;
        opacity: 0;
    }

    100%{
        visibility: visible;
        opacity: 100%;
    }
}

/*Seção para o link dos outros repositorios*/
#Repositorios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #585858;
    padding: 2.6vw;
}

#Repositorios h2 {
    font-size: 4vw;
    color:#DEDEDE;
    flex-wrap: wrap;
}

#Repositorios button{
    background-color:#DEDEDE ;
    border-radius: 3vw;
    margin: 2vw;
    padding: 1.5vw;
}

#Repositorios button a{
    font-size: 4vw;
    color:#585858;
    text-decoration-line: none;
}

#Repositorios img {
    width: 18vw;
}


#Seta_Desktop{
    display: none;
}

#Seta_Mobile {
    display: flex;
}
}




